#container{
    display: flex;
    background: #555555;
    flex-wrap: wrap;
    /*Align items horizontal*/
    justify-content: space-evenly;
    /*flex-direction: column;*/
    /*flex-direction: row;*/
 /*   flex-direction: row-reverse;*/
    /*flex-wrap: wrap;*/
   /* flex-flow: row nowrap;*/
    /*justify-content: end;*/
    /*justify-content: center;*/
    /*justify-content: space-around;
    justify-content: space-between;
    justify-content: space-evenly;*/    
    height: 200px;
    align-items: center;
    /*Align items vertical (must be a height)*/
    align-items: baseline;

   /*
   Options:
   flex-start
   flex-end
   center
   baseline
   stretch
*/
align-content: center;
/*
Options:
flex-end
flex-start
}*/
}

 .item {
    background: #f4f4f4f4;
    border: #ccc solid 1px;
    padding: 1rem;
    text-align: center;
    flex: 1;
    margin: 0.5rem;
    flex-basis: 200px;  
}

.item2 {
    /* Align single item vertical */
    align-self: center;
    /*Optios:
     flex-start
     flex-end
     center
     baseline
     stretch

    */

}
/*
.item: first-child{
    flex: 3;

}*/
